<div class="post-copyright">
    <div class="content">
        <p>Latest update：<%= post.updated.format("DD-MM-YYYY HH:mm") %></p>
        <p>Original link： <a class="post-url" href="<%- url_for(post.path) %>" title="<%= post.title %>"><%= post.permalink %></a></p>
        <footer>
            <a href="<%- config.url %>">
                <img src="<%- url_for(theme.logo) %>" alt="<%- config.author %>">
                <%- config.author %>
            </a>
        </footer>
    </div>
</div>
